:root {
    /* ## Colors */

    /* ### Primary */

    --orange: hsl(26, 100%, 55%);
    --shadowOrange: hsl(25, 100%, 90%);
    --paleOrange: hsl(25, 100%, 94%);

    /* ### Neutral */

    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --blackLightbox: hsla(0, 0%, 0%, 75%);
    /* b lack(with 75% opacity for lightbox background) */
}

body {
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
}
p,
a {
    color: var(--darkGrayishBlue);
    font-size: 16px;
    text-decoration: none;
}

hr {
    border: 1px solid hsla(0, 2%, 76%, 0.4);
    width: 100%;
}

.page-container {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.product-page-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2.5% 10%;
}

/* ----- Header & Navigation Bar ----- */

.header {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
}

.navigation > ul {
    display: flex;
    list-style: none;
}
.navigation ul > li {
    margin-right: 30px;
    height: 100%;
}
.navigation ul > li:hover {
    border-bottom: 5px solid orange;
}
/* .navigation li > hr {
    display: none;
    margin-bottom: auto;
}
.navigation li:hover > hr {
    display: block;
    margin-bottom: auto;
} */

.action-buttons {
    align-items: center;
    display: flex;
    list-style: none;
    margin-left: auto;
}
.action-buttons > button {
    background: none;
    border: none;
    cursor: pointer;
}
.user {
    margin-left: 30px;
}
img.user {
    height: 40px;
    width: 40px;
}
img.user:hover {
    border: 1px solid var(--orange);
    border-radius: 100%;
}

/* ----- Product Area ----- */

.product {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
}

/* Product Images */

.product-images {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    margin-right: 5rem;
}

img.hero {
    border-radius: 15px;
    cursor: pointer;
    display: none;
    height: 450px;
    width: 450px;
}
img.hero.active {
    display: block;
}

.thumbnails {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 450px;
}

img.thumbnail {
    border-radius: 15px;
    height: 90px;
    width: 90px;
}
img.thumbnail:hover {
    opacity: 50%;
}
img.thumbnail.active {
    border: 3px solid var(--orange);
    opacity: 50%;
}

/* Lightbox */

.lightbox-backdrop {
    background-color: var(--blackLightbox);
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
}
.lightbox-active .lightbox-backdrop {
    display: block;
}

.lightbox-wrapper {
    display: none;
    position: absolute;
    align-self: center;
    justify-self: center;
    height: auto;
    width: 650px;
    text-align: right;
}
.lightbox-active .lightbox-wrapper {
    display: block;
}

button.close-lightbox {
    background: none;
    border: none;
    cursor: pointer;
}
.close-lightbox {
    padding: 0 75px 20px 0;
}

.close-lightbox svg:hover {
    fill: orange;
}

.heroes-slider {
    text-align: center;
}
.heroes-slider img {
    border-radius: 15px;
    height: 500px;
    width: 500px;
}

.heroes-slider-thumbs {
    margin-top: 2rem;
    position: absolute;
    right: 5px;
    width: 500px;
}

.lightbox-wrapper img.thumbnail {
    border-radius: 15px;
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.lightbox-wrapper img.thumbnail:hover {
    border: 1px solid var(--orange);
    opacity: 80%;
}

/* Product Description */

.product-detail {
    display: flex;
    flex-direction: column;
    height: 80%;
}

p.product-designer {
    color: var(--orange);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
p.product-description {
    font-size: 15px;
    line-height: 1.5rem;
    margin-bottom: 0;
}

.price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: auto;
}
.discount {
    align-self: center;
    background-color: var(--paleOrange);
    border-radius: 5px;
    height: 20px;
    width: 35px;
    margin-left: 15px;
    text-align: center;
}
.discount > p {
    color: var(--orange);
    font-size: 12px;
    font-weight: 700;
    position: relative;
    top: -50%;
}
p.original-price {
    color: var(--grayishBlue);
    font-size: 12px;
    font-weight: 700;
    position: relative;
    top: -50%;
    text-decoration: line-through;
}

.product-checkout {
    align-items: center;
    display: flex;
}

.quantity {
    align-items: center;
    background-color: var(--lightGrayishBlue);
    border-radius: 10px;
    display: flex;
    margin-right: 20px;
}
.quantity h4 {
    padding: 15px 15px;
    margin: 0;
}
.quantity img {
    cursor: pointer;
    padding: 15px 20px;
    margin: 0;
}

.product-checkout > button {
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    box-shadow: 0 20px 20px var(--shadowOrange);
    color: white;
    cursor: pointer;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 16px 60px;
}
.product-checkout > button:hover {
    opacity: 85%;
}
.product-checkout > button:active {
    border: 5px solid var(--orange);
}
.product-checkout > button > img {
    height: 12px;
    margin-right: 10px;
}

/* Popup Cart */

.popup-cart {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 15px 30px var(--grayishBlue);
    display: none;
    height: auto;
    width: 350px;
    position: absolute;
    top: 100px;
    right: 100px;
}
.popup-cart > h4 {
    margin-left: 20px;
    margin-bottom: 15px;
}
.popup-cart.active {
    display: grid;
}

.items-in-cart {
    display: block;
    height: 100px;
    /* overflow-y: scroll; */
}
.empty-cart {
    font-weight: 700;
    margin-left: 100px;
    margin-top: 35px;
}

.itemInCart {
    align-items: center;
    display: flex;
    margin: 0 20px 0 20px;
}
.itemInCart img {
    border-radius: 3px;
    height: 50px;
    width: 50px;
    margin-right: 15px;
}
.itemInCart p {
    font-size: 15px;
    line-height: 1.5rem;
}
.itemInCart span {
    color: black;
    font-weight: 700;
}
img.delete-icon {
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    height: 15px;
    width: 15px;
}
.popup-subtotal {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0;
}
.popup-subtotal > h4 {
    margin-bottom: 0;
}
.popup-subtotal > h4 > span {
    color: var(--darkGrayishBlue);
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: -1px;
}

button.popup-checkout {
    background-color: var(--orange);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    justify-self: center;
    padding: 16px 130px;
    margin: 15px 0 30px 0;
}

.cart-size-notification {
    background-color: var(--orange);
    border-radius: 10px;
    color: white;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    height: 12px;
    width: 17px;
    position: relative;
    left: 35px;
    top: -10px;
}

/* Landing Page */
