:root {
    /* ----- Primary Colors ----- */
    --orange: hsl(26, 100%, 55%);
    --shadowOrange: hsl(25, 100%, 90%);
    --paleOrange: hsl(25, 100%, 94%);

    /* ----- Neutral Colors ----- */
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --blackLightbox: hsla(0, 0%, 0%, 75%);
}

body {
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
}
p,
a {
    color: var(--darkGrayishBlue);
    font-size: 16px;
    text-decoration: none;
}

hr {
    border: 1px solid hsla(0, 2%, 76%, 0.4);
    width: 100%;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

/* --------------- App --------------- */

.App {
    /* border: 2px solid red; */
    margin: 2.5% 10%;
}

/* --------------- Header --------------- */
.header {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.navigation > ul {
    display: flex;
    list-style: none;
}
.navigation > ul > li {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.navigation > ul > li > span {
    border-bottom: 3px solid white;
    position: relative;
    top: 36px;
}
.navigation > ul > li:hover > span {
    border-bottom: 3px solid orange;
}

.action-buttons {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.user {
    margin-left: 30px;
}
img.user {
    border: 2px solid white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
}
img.user:hover {
    border: 2px solid var(--orange);
}

/* ----- Header > Cart ----- */
.cart-popup {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 15px 30px var(--grayishBlue);
    display: none;
    height: auto;
    width: 300px;
    position: absolute;
    top: 90px;
    right: 100px;
}
.cart-popup.active {
    display: grid;
}

/* --------------- Product Page --------------- */
.product-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
    margin: 5%;
}

/* ----- Product Page > Images ----- */
.full-images > img {
    border-radius: 15px;
    height: 450px;
    width: 450px;
}

.thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    width: 450px;
}
.thumbnails > img {
    border-radius: 10px;
    height: 75px;
    width: 75px;
}

/* ----- Product Page > Lightbox ----- */

/* ----- Product Page > Details ----- */
p.designer {
    color: var(--orange);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

p.description {
    line-height: 1.75rem;
}

.pricing {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 150px;
}

h3.current-price {
    margin-right: 15px;
}

.discount {
    background-color: var(--paleOrange);
    border-radius: 5px;
    height: 20px;
    width: 40px;
    text-align: center;
}
.discount > p,
p.original-price {
    color: var(--orange);
    font-size: 12px;
    font-weight: 700;
    position: relative;
    top: -50%;
}

p.original-price {
    color: var(--grayishBlue);
    text-decoration: line-through;
}

.add-to-cart {
    display: flex;
}

.quantity {
    align-items: center;
    background-color: var(--lightGrayishBlue);
    border-radius: 10px;
    display: flex;
    margin-right: 20px;
}
.quantity > img {
    cursor: pointer;
    padding: 26px;
}
.quantity > h4 {
    padding: 0 20px;
}
.quantity > img:hover {
    opacity: 60%;
}

.add-to-cart > button {
    align-items: center;
    background-color: var(--orange);
    border-radius: 10px;
    box-shadow: 0 20px 30px var(--shadowOrange);
    color: white;
    display: flex;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    padding: 0 70px;
}
.add-to-cart > button > img {
    margin-right: 15px;
}
.add-to-cart > button:hover {
    opacity: 80%;
}
